<input type="hidden" id="event_finder_ajax_load_url" value='{{ url('event_finder_ajax_load') }}' >
{% include "inSingFrontendBundle:EventFinder:_list_of_events.html.twig" with {'results': results} %}
<div class="ajax-loader green" style="display:none" id="load_more_events_list">Loading...</div>