{% extends "inSingFrontendBundle::layout.html.twig" %}
{% block title %}{{ event_data.name|replace({'"':"'"})|raw }} inSing.com{% endblock %}
{% set classBody = 'class="page-event"' %}
{% set title = event_data.name|raw %}
{% block body %}
<div id="page-container" class="page-article-single-event">
        <div class="wrapper-top">
            <!-- breadcrumbs -->
            {% block breadcrumbs %}{{ wo_render_breadcrumbs() }}{% endblock %}
        </div>
        <div class="wrapper-middle">
            <div class="middle-left">
                <div class="left-main">
                    <div class="module-article container" itemscope itemtype="http://schema.org/Event">
                        <div class="header">
                            <div class="boilerplate-caption">
                                <i class="icon icon-cicle-dotted"></i>
                                <h2 class="title-wrap os-semibold-ts" itemprop="name">
                                    {% if event_data.categories[0].name is defined and event_data.categories[0].name
                                    != "" %}
                                        {% set category  = event_data.categories[0].name %}
                                    {% endif %}
                                    <a href="{{ app.request.getBaseURL }}/events/{{ category_url }}" title="{{
                                    category }}" >{{ category }}</a>
                                </h2>
                                {% include "inSingFrontendBundle:_Partial:_social_buttons_like.html.twig" with
                                {'url' : app.request.uri|removeUrlParams, 'googlePlus' : true, 'twitter' : true, 'facebook' : true} %}
                            </div>
                            <h1 class="title rs-regular-sm">{{ event_data.name }} </h1>
                            <div class="fb-like" data-href="{{ app.request.uri }}" data-action="like" data-show-faces="true" data-share="false"></div>
                        </div>
                        <div class="content">
                            <div class="article-event-top">
                                <figure class="thumbnail">
                                    <a href="#">
                                        <img itemprop="image" src="{{ event_data.default_image_resource_url|generateFullResourceUrl('400x300') }}" alt="{{ title }}" title="{{ title }}">
                                    </a>
                                </figure>
                                <div class="entry">

                                    <ul class="list list-unstyled">
                                        {% if(event_data.start_date is defined) %}
                                        <li>
                                            <div class="title">DATE</div>
                                            <h4 class="date-heading">
                                                <meta itemprop="description" content="Dick Lee description description.">
                                                <meta itemprop="startDate" content="2015-09-03T00:00:00+08:00">
                                                <meta itemprop="endDate" content="2015-09-03T00:00:00+08:00">
                                                <a href="javascript:void(0);">{{ event_data.start_date|date('F j, Y') }}</a>
                                            </h4>
                                        </li>
                                        {% endif %}

                                        <li>
                                            <div itemprop="location" itemtype="http://schema.org/Place">
                                                <div class="title">Venue</div>
                                                {% if(event_data.enhanced_venue is defined and event_data.enhanced_venue.id is defined and event_data.enhanced_venue.id is not null  ) %}
                                                <h2 class="place" itemprop="name"><a href="{{ event_data.event_url }}/event-venue/{{event_data.venue.name|slug(event_data.venue.name)}}/id-{{ event_data.enhanced_venue.id|idToReversedHex }}">{{event_data.venue.name|raw}}</a></h2>
                                                {% else %}
                                                    <h2 class="place" itemprop="name">{{event_data.venue.name|raw}}</h2>
                                                {% endif %}

                                                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                                    <span itemprop="streetAddress">
                                                        {% if event_data.enhanced_venue is defined and event_data.enhanced_venue is not null %}
                                                        {% if event_data.enhanced_venue.block_number is defined
                                                        and event_data.enhanced_venue.block_number
                                                        and event_data.enhanced_venue.street_name is defined
                                                        and event_data.enhanced_venue.street_name %}
                                                            {{ (event_data.enhanced_venue.block_number ~ ' ' ~ event_data.enhanced_venue.street_name)|trim }}<br>
                                                        {% endif %}
                                                        {% if (event_data.enhanced_venue.unit_number is defined
                                                        and event_data.enhanced_venue.building_name is defined
                                                        and event_data.enhanced_venue.unit_number and event_data
                                                        .enhanced_venue.building_name) %}
                                                            {{ (event_data.enhanced_venue.unit_number ~ ' ' ~ event_data.enhanced_venue.building_name)|trim }}<br>
                                                        {% endif %}
                                                        {% else %}
                                                            {% if (event_data.venue.block_number is defined and
                                                            event_data.venue.street_name is defined and event_data
                                                            .venue.block_number and event_data.venue.street_name  ) %}
                                                                {{ (event_data.venue.block_number ~ ' ' ~ event_data.venue.street_name)|trim }}<br>
                                                            {% endif %}
                                                        {% if (event_data.venue.unit_number is defined and event_data.venue.unit_number
                                                            and event_data.venue.building_name is defined and
                                                            event_data.venue.building_name ) %}
                                                                {{ (event_data.venue.unit_number ~ ' ' ~ event_data.venue.building_name)|trim }}<br>
                                                            {% endif %}
                                                        {% endif %}
                                                    </span>
                                                    <span itemprop="addressCountry">Singapore </span>
                                                    {% if event_data.venue.postal_code is defined and event_data.venue.postal_code %}
                                                    <span itemprop="postalCode">{{ event_data.venue.postal_code }}</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </li>
                                        {% if (event_data.price_min is defined and event_data.price_min is not null)
                                        and (event_data.price_max is defined and event_data.price_max is not null) %}
                                            {% set paid = false %}
                                            {% if event_data.price_min == 0 and event_data.price_max == 0 %}
                                                {#<p style="font-weight: 800; font-size: 25px">{{ dump(event_data#}
                                                    {#.end_date) }}</p>#}
                                                {% if event_data.end_date is defined and "now"|date('Y-m-d') <=
                                                event_data.end_date|date('Y-m-d')  %}
                                                    <div class="action-link">
                                                        <a href="javascript:void(0);" class="link button-corner-cut green"
                                                           rel="nofollow">
                                                            <span>Free</span>
                                                        </a>
                                                    </div>
                                                {% else %}
                                                    <span class="expired-event text-red">This event has passed</span>
                                                {% endif %}
                                            {% elseif event_data.price_min < 0 and event_data.price_max < 0 %}
                                                {% if event_data.end_date is defined and "now"|date('Y-m-d') <=
                                                event_data.end_date|date('Y-m-d')  %}
                                                    <p>To be Advised</p>
                                                {% else %}
                                                    <span class="expired-event text-red">This event has passed</span>
                                                {% endif %}
                                            {% elseif event_data.price_min > 0 or event_data.price_max > 0 %}
                                                {% set paid = true %}
                                                <li>
                                                    <div class="title">Ticket Price</div>
                                                    <div>(Exlude booking fee)</div>
                                                    <div>{{ 'S$' ~ event_data.price_min|number_format(2, '.', ',') }}
                                                        {% if event_data.price_max > event_data.price_min %}
                                                            {{ ' - S$' ~ event_data.price_max|number_format(2, '.', ',') }}
                                                        {% endif %}</div>
                                                </li>
                                            {% endif %}
                                            {% if paid and event_data.vendor_url %}
                                                {% if event_data.end_date is defined and "now"|date('Y-m-d') <= event_data.end_date|date('Y-m-d')  %}
                                                    <li>
                                                        <div class="action-link">
                                                            {% if(event.vendor_url is defined and event.vendor_url != "") %}
                                                                {% set event_purchaseTicketUrl =  event.vendor_url %}
                                                            {% else %}
                                                                {% set event_purchaseTicketUrl =  "" %}
                                                            {% endif %}
                                                            <a href="{{ event_purchaseTicketUrl }}" class="link button-corner-cut green"
                                                               rel="nofollow">
                                                                <span>Buy tickets</span>
                                                            </a>
                                                        </div>
                                                    </li>
                                                {% else %}
                                                    <span class="expired-event text-red">This event has passed</span>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <p> {{ event_data.description|raw }} </p>
                            {% if event_data.website is defined and event_data.website !="" %}
                                <div class="weblink">
                                    <span class="title">Website Link:</span>
                                    <a target='_new' href="javascript:void(0)" rel="nofollow"
                                    onclick="this.href='{{ event_data.website }}'">
                                        <strong>{{ event_data.website|websiteFilter }}</strong>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        {% if (eventPrevious is defined and eventPrevious) or (eventNext is defined and eventNext) %}
                        <div class="footer clearfix">
                            <ul class="other-article list-unstyled">
                                {% if eventPrevious is defined and eventPrevious %}
                                {% set prevUrl = path("event_details", {"slug": eventPrevious.name|slug, "reversedHexId": eventPrevious.id|idToReversedHex}) ~ uriParams %}
                                <li class="prev">
                                    <a href="{{ prevUrl }}" class="link">
                                        <i class="icon icon-article-prev"></i>
                                    </a>
                                    {% if eventPrevious.default_image_resource_url is defined and not eventPrevious.default_image_resource_url is null %}
                                    <figure class="thumbnail">
                                        <a href="{{ prevUrl }}" title><img src="{{ eventPrevious.default_image_resource_url|generateFullResourceUrl( '80x60') }}" alt=""></a>
                                    </figure>
                                    {% endif %}
                                    <div class="info">
                                        <div class="name"><a href="{{ prevUrl }}">{{ eventPrevious.name }}</a></div>
                                        <div class="type">{{ eventPrevious.categories.0.name }}</div>
                                    </div>
                                </li>
                                {% endif %}
                                {% if eventNext is defined and eventNext %}
                                {% set prevUrl = path("event_details", {"slug": eventNext.name|slug, "reversedHexId": eventNext.id|idToReversedHex}) ~ uriParams %}
                                <li class="next">
                                    <a href="{{ prevUrl }}" class="link">
                                        <i class="icon icon-article-next"></i>
                                    </a>
                                    {% if eventNext.default_image_resource_url is defined and not eventNext
                                    .default_image_resource_url is null %}
                                    <figure class="thumbnail">
                                        <a href="{{ prevUrl }}" title><img src="{{ eventNext.default_image_resource_url|generateFullResourceUrl('80x60') }}" alt=""></a>
                                    </figure>
                                    {% endif %}
                                    <div class="info">
                                        <div class="name"><a href="{{ prevUrl }}">{{ eventNext.name }}</a></div>
                                        <div class="type">{{ eventNext.categories.0.name }}</div>
                                    </div>
                                </li>
                            {% endif %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>

                    <div class="module-grid-event container">
                        <div class="header">
                            <h2 class="title os-semibold-ts">You might like</h2>
                            <a href="{{ app.request.getBaseURL }}/events" class="link button-corner-cut green">
                                <span>View all Events</span>
                            </a>
                        </div>
                        <ul class="item-list list-unstyled clearfix">
                            {% for eventMightLikeData in eventMightLike %}
                                {% set event = eventMightLikeData %}
                            <li class="item">
                                {% if eventMightLikeData.default_image_resource_url is defined and not eventMightLikeData.default_image_resource_url is null %}
                                <figure class="align-focus">
                                    <a href="{{ eventMightLikeData.seo_url }}" title="{{ eventMightLikeData.name }}">
                                        <img src="{{ eventMightLikeData.default_image_resource_url|generateFullResourceUrl('306x229') }}" alt="{{ eventMightLikeData.name }}" title="{{ eventMightLikeData.name }}" />
                                    </a>
                                </figure>
                                {% endif %}
                                <div class="entry">
                                    <h3 class="title-wrap rs-regular-s"><a href="{{ eventMightLikeData.seo_url }}"
                                                                           title="">{{ eventMightLikeData
                                            .name }}</a></h3>
                                    {% if((eventMightLikeData.start_date is defined
                                    and eventMightLikeData.start_date != "" )
                                    or (eventMightLikeData.end_date is defined and eventMightLikeData.end_date != ""))%}
                                    <div class="date">{{ eventMightLikeData.start_date|appendEndDate(eventMightLikeData
                                        .end_date, 'M d, Y') }}</div>
                                    {% endif %}
                                </div>
                                {% if event is free %}
                                <a title="FREE" href="javascript:void(0)" rel="nofollow"
                                   onclick="this.href='{{ eventMightLikeData.seo_url }}'" class="link">Free</a>
                                {% elseif event is buy %}
                                    <a title="BUY TICKETS" href="javascript:void(0)" rel="nofollow"
                                       onclick="this.href='{{ eventMightLikeData.seo_url }}'" class="link">Buy Tickets</a>
                                {% else%}
                                <a title="VIEW" href="javascript:void(0)" rel="nofollow"
                                   onclick="this.href='{{ eventMightLikeData.seo_url }}'"
                                   class="link">View</a>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
            <aside class="middle-right">
                {{ render(controller('inSingFrontendBundle:Common:renderFindActivity', { 'channel' : "Events" })) }}
                <div class="mpu-ads mpu-landscape">
                    {% include 'inSingFrontendBundle:Gpt:_mpu1_landscape.html.twig' %}
                </div>
                <div class="mpu-ads mpu-portrait">
                    {% include 'inSingFrontendBundle:Gpt:_mpu1_portrait.html.twig' %}
                </div>
                <div class="mpu-ads mpu-mobile">
                    {% include 'inSingFrontendBundle:Gpt:_mpu1_mobile.html.twig' %}
                </div>
                <!-- /MPU ADS -->
                {{ render(controller("inSingFrontendBundle:Common:renderRestaurantNearBy", {'latitude': event_data.latitude, 'longitude': event_data.longitude})) }}
            </aside>
        <div class="warpper-bottom"></div>
            <div id="fb-root"></div>
            <script>
                (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=384230428379412&version=v2.0";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>
    </div>
</div>
{%  endblock %}

{% block js_lib_top %}
    {{ parent() }}
    <script type="text/javascript" src="http://widgets.outbrain.com/outbrain.js"></script>
{% endblock %}

{% block js_lib_bottom %}
    {{ parent() }}
    <script type="text/javascript" >
        main.truncate('.module-grid-event .item .title-wrap');
    </script>
{% endblock %}
