{% if data is not empty %}
<!-- restaurant nearby -->
<div class="module-hot-restaurant-deal container">
    <h4 class="m-title os-extrabold-ts">HOT RESTAURANTS DEALS</h4>
    <ul class="list">
    {% for item in data %}
        {#item.title, item.description, item.photo, item.bookNowUrl#}
        <!-- item -->
        <li class="item">
            <figure class="align-focus">
                <a href="{{ item.bookNowUrl }}" title="{{ item.title }}">
                    {% set urlImage = asset('bundles/insingfrontend/images/default_306x230.jpg') %}
                    {% if item.photo is not empty %}
                        {% set urlImage = item.photo %}
                    {% endif %}
                    {#fix-size for data type from tableDB#}
                    <img src="{{ urlImage }}" alt="{{ item.title }}" width="100px" height="70px">
                </a>
            </figure>
            <div class="entry">
                <h4 class="name rs-regular-ts">
                    <a href="{{ item.bookNowUrl }}" title="{{ item.title }}">{{ item.title }}</a>
                </h4>
                {# max 2 lines #}
                {% set des = item.description|trim|striptags %}
                {% set des = truncate_word(des, 300) %}
                <div class="type-place isTruncate" data-truncate-line="2">{{ des }}</div>
                <div class="link">
                    <a href="javascript:void(0);" rel="nofollow" onclick="this.href='{{ item.bookNowUrl }}';"
                       class="button-corner-cut red" title="BOOK NOW"><span>BOOK NOW</span></a>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}