{% extends "inSingFrontendBundle::layout.html.twig" %}
{% set classBody = 'class="page-event"' %}

{% block title %}{{ getParameter('insing_frontend_submit_success_event_title')|raw }}{% endblock %}
{% block metaDescription %}{{ getParameter('insing_frontend_submit_success_event_meta_description')|raw }}{% endblock %}

{% block body %}
    <!-- page-container -->
    <div id="page-container" class="page-event-submit-thanks">
        <div class="wrapper-top">
            <!-- breadcrumbs -->
            {% block breadcrumbs %}{{ wo_render_breadcrumbs() }}{% endblock %}
        </div>

        <div class="wrapper-middle">
            <!-- st left module -->
            <div class="middle-left">
                <div class="left-main">
                    <div class="container">
                        <div class="boilerplate-caption">
                            <i class="icon icon-cicle-dotted"></i>
                            <h2 class="title-wrap os-semibold-ts" itemprop="name"><a href="javascript:void(0)">Submit your event</a></h2>
                        </div>
                        <div class="thankyou">
                            <h1 class="title-wrap rs-regular-sm">Event Listing</h1>
                            <div class="thanks-detail">
                                <h4 class="caption os-bold-ts">Thank you for submitting an event for listing on inSing.com</h4>
                                <p>Your entry is currently under review and is subjected to editorial charges. Actual publish date will be at the sole discretion of Singtel Digital Media Pte Ltd.</p>
                            </div>
                            <div class="action-link">
                                <a class="button-corner-cut green" href="{{ url('event_finder') }}"><span>Back to Events</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- st left module -->

            <!--st right module-->
            <aside class="middle-right">
                <!-- search -->
                <!-- st render find-activity -->
                {{ render(controller('inSingFrontendBundle:Common:renderFindActivity', { 'channel' : 'events' })) }}
                <!-- ed render find-activity -->
                <!-- MPU ADS -->
                {#<div class="mpu-ads mpu-landscape"><a href="#"><img src="images/demo/mpu-1.png" alt=""></a></div>#}
                {#<div class="mpu-ads mpu-portrait"><a href="#"><img src="images/demo/mpu-1.png" alt=""></a></div>#}
                {#<div class="mpu-ads mpu-mobile"><a href="#"><img src="images/demo/mpu-1.png" alt=""></a></div>#}

                <div class="mpu-ads mpu-landscape">
                    {% include 'inSingFrontendBundle:Gpt:_mpu1_landscape.html.twig' %}
                </div>
                <div class="mpu-ads mpu-portrait">
                    {% include 'inSingFrontendBundle:Gpt:_mpu1_portrait.html.twig' %}
                </div>
                <div class="mpu-ads mpu-mobile">
                    {% include 'inSingFrontendBundle:Gpt:_mpu1_mobile.html.twig' %}
                </div>
                <!-- /MPU ADS -->
                <!-- event submit -->
                {% include 'inSingFrontendBundle:Event:_submiteventthumb.html.twig' %}
                <!-- restaurant nearby -->
                {{ render(controller('inSingFrontendBundle:Event:_renderHotRestauRantDealBlock', { 'limit': 3 })) }}
            </aside>
            <!-- ed right module -->
        </div>
        <div class="warpper-bottom"></div>
    </div>

{% endblock %}