{#https://booktest.hungrygowhere.com/{slug_restaurant_name}/#}
<form id="frmBookNow"
      method="POST"
      action="" target="_blank"
      style="display: none;">
    {#<input type="submit" value="8:30 PM" style="background-color:#fff;color:#999;display: inline-block;font-family: 'OpenSans', Arial, sans-serif;font-size: 12px;border:1px solid #ccc;border-radius:2px;margin:0;padding:0;padding: 3px 7px;margin-bottom: 10px;text-decoration: none;text-align: center;">#}
    <!--required field-->
    <input type="hidden" name="partner_code" value="{{ book_now_partner_code }}">
    <!--required field-->
    <input type="hidden" name="partner_auth" value="{{ book_now_partner_auth }}">
    <!--required field-->
    <input type="hidden" name="widget_id" value="{{ book_now_widget_id }}">
    <!--optional field-->
    <input type="hidden" name="phone_number" value="" id="frmBookNow_phone_number">
    <input type="hidden" name="first_name" value="" id="frmBookNow_first_name">
    <input type="hidden" name="last_name" value="" id="frmBookNow_last_name">
    <input type="hidden" name="email_address" value="" id="frmBookNow_email_address">
    <input type="hidden" name="partner_user_id" value="" id="frmBookNow_partner_user_id">
    <input type="hidden" name="adults" value="" id="frmBookNow_adults">
    <input type="hidden" name="date" value="" id="frmBookNow_date">
    <input type="hidden" name="shift_id" value="" id="frmBookNow_shift_id">
    <input type="hidden" name="time_slot" value="" id="frmBookNow_time_slot">
    <!--required field-->
    <input type="hidden" id="frmBookNow_restaurant_id" name="restaurant_id" value="">
    <input type="hidden" id="frmBookNow_action" name="frmBookNow_action" value="{{ book_now_action }}">
</form>