<div class="module-grid-list event-highlight container">
    <div class="header">
        <i class="icon icon-cicle-dotted"></i>
        <h3 class="title os-extrabold-sm">EVENT<br/>HIGHLIGHTS<br/>THIS WEEK</h3>
        <a title="SEE MORE" href="javascript:void(0);" rel="nofollow" onclick="this.href='http://events.insing.com'" class="btn-see-more button-corner-cut">
            <span>SEE MORE</span>
        </a>
    </div>
    <ul id="id-event-module" class="item-list list-unstyled">
        <li class="item">
            <ul class="higher-list list-unstyled">
                {% if topthingsData == true %}
                    {% for item in topthingsData %}
                        {% set event = item['event_data']['0'] %}
                        <li>
                            <div class="left-pane">
                                <a title="{{ item['title'] }}" href="{{ item['item_url'] }}" class="name">{{ item['title'] }}</a>
                                <div class="info">
                                    <span class="type">{{ event['venue']['name'] }}</span>
                                </div>
                            </div>

                            {% if event is free %}
                                <a title="FREE" href="javascript:void(0);" rel="nofollow" onclick="this.href='{{ item['item_url'] }}'" class="link free">FREE</a>
                            {% elseif event is buy %}
                                <a title="BUY TICKETS" href="javascript:void(0);" rel="nofollow" onclick="this.href='{{ item['item_url'] }}'" class="link">BUY TICKETS</a>
                            {% else%}
                                <a title="VIEW" href="javascript:void(0);" rel="nofollow" onclick="this.href='{{ item['item_url'] }}'" class="link free">VIEW</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </li>

        {% if supermoduleData == true %}
            {% set item = supermoduleData[0] %}
            {% if item is defined %}
                <li class="item">
                    <figure class="align-focus">
                        <a href="{{ item['item_url'] }}" title="{{ item['title'] }}"><img src="{{ item['imageUrl'] }}" alt="{{ item['title'] }}"></a>
                    </figure>
                    <div class="entry">
                        <h4 class="title-wrap rs-regular-s"><a href="{{ item['item_url'] }}" title="{{ item['title'] }}">{{ item['title'] }}</a></h4>
                        <div class="desc">{{ item['summary'] | raw }}</div>
                    </div>
                    {% if item['type'] == 'Event' %}
                        {% set event = item['event_data']['0'] %}

                        {% if event is free %}
                            <a title="FREE" href="javascript:void(0);" rel="nofollow" onclick="this.href='{{ item['item_url'] }}'" class="link free">FREE</a>
                        {% elseif event is buy %}
                            <a title="BUY TICKETS" href="javascript:void(0);" rel="nofollow" onclick="this.href='{{ item['item_url'] }}'" class="link">BUY TICKETS</a>
                        {% else%}
                            <a title="VIEW" href="javascript:void(0);" rel="nofollow" onclick="this.href='{{ item['item_url'] }}'" class="link free">VIEW</a>
                        {% endif %}
                    {% endif %}
                </li>
            {% endif %}

            <li class="item">
                <div class="mpu-ads mpu-landscape">
                    {% include 'inSingFrontendBundle:Gpt:_mpu1_landscape.html.twig' %}
                </div>
                <div class="mpu-ads mpu-portrait">
                    {% include 'inSingFrontendBundle:Gpt:_mpu1_portrait.html.twig' %}
                </div>
            </li>

            {% set item = supermoduleData[1] %}
            {% if item is defined %}
                <li class="item">
                    <figure class="align-focus">
                        <a href="{{ item['item_url'] }}" title="{{ item['title'] }}"><img src="{{ item['imageUrl'] }}" alt="{{ item['title'] }}"></a>
                    </figure>
                    <div class="entry">
                        <h4 class="title-wrap rs-regular-s"><a href="{{ item['item_url'] }}" title="{{ item['title'] }}">{{ item['title'] }}</a></h4>
                        <div class="desc">{{ item['summary'] | raw }}</div>
                    </div>
                    {% if item['type'] == 'Event' %}
                        {% set event = item['event_data']['0'] %}

                        {% if event is free %}
                            <a title="FREE" href="javascript:void(0);" rel="nofollow" onclick="this.href='{{ item['item_url'] }}'" class="link free">FREE</a>
                        {% elseif event is buy %}
                            <a title="BUY TICKETS" href="javascript:void(0);" rel="nofollow" onclick="this.href='{{ item['item_url'] }}'" class="link">BUY TICKETS</a>
                        {% else%}
                            <a title="VIEW" href="javascript:void(0);" rel="nofollow" onclick="this.href='{{ item['item_url'] }}'" class="link free">VIEW</a>
                        {% endif %}
                    {% endif %}
                </li>
            {% endif %}
        {% endif %}
    </ul>
    <div class="view">
        <a id="id-event-expand" href="javascript:void(0);" rel="nofollow" data-url="{{ url('homepage_hidden_event_ajax') }}">
            <span title="EXPAND" class="lbl-expand" id="id-event-expand-span" data-textloading="LOADING..."><i class="icon icon-expand"></i>EXPAND</span>
            <span title="COLLAPSE" class="lbl-collapse" id="id-event-collapse-span"><i class="icon icon-collapse"></i>COLLAPSE</span>
        </a>
    </div>
</div>
<div class="mpu-ads mpu-mobile">
    {% include 'inSingFrontendBundle:Gpt:_mobile_ad_unit.html.twig' %}
</div>

            