<div class="module-grid-list hgw-deal container">
    <div class="header">
        <i class="icon icon-cicle-dotted"></i>
        <h2 class="title os-extrabold-sm">Exclusive<br/>Deals with<br/>Hungrygowhere</h2>
        <a href="javascript:void(0);" rel="nofollow" onclick="this.href='{{ hungry_deal_site }}';"
           class="btn-see-more button-corner-cut" title="SEE MORE">
            <span>SEE MORE</span>
        </a>
    </div>
    <ul id="id-hgw-module" class="item-list list-unstyled">
        <li class="item">
            <ul class="higher-list list-unstyled">
                {% if leftHgwPreparedData is not empty %}
                    {% for item in leftHgwPreparedData %}
                        <li>
                            <div class="left-pane">
                                <a href="{{ item.url_deal_detail }}" class="name" title="{{ item.deal_name }}">{{ item.deal_name }}</a>
                                <div class="info">
                                    <span class="type">{{ item.restaurant_name }}</span>
                                </div>
                            </div>
                            <a href="javascript:void(0);" rel="nofollow" onclick="this.href='{{ item.url_deal_detail }}';" class="link" title="BOOK">BOOK</a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </li>
        {{ include('inSingFrontendBundle:_Partial:_item_hgw.html.twig', { 'data': hgwPreparedData }) }}
        {#<div id="data_hgw_expend"></div>#}
    </ul>
    <div class="view">
        <a href="javascript:void(0);" rel="nofollow" id="id_hgw_expend" data-url="{{ url('insing_frontend_homepage_hgw_ajax') }}">
            <span class="lbl-expand" id="id_hgw_expand_item" data-textloading="LOADING..." title="EXPAND"><i class="icon icon-expand"></i>EXPAND</span>
            <span class="lbl-collapse" id="id_hgw_callapse_item" title="COLLAPSE"><i class="icon icon-collapse"></i>COLLAPSE</span>
        </a>
    </div>
</div>
        