<div class="outbrain-wrap">
    <div class="OUTBRAIN" data-src="http://movies.insing.com/feature/one-hobbit-to-rule-them-all/id-44343101/" data-widget-id="AR_1" data-ob-template="Insing" ></div>
</div>

{#<script type="text/javascript" src="http://widgets.outbrain.com/outbrain.js"></script>#}
