<style>
    /**{font-family: tahoma, verdana, sans-serif}*/
    .pagination ul li.current {
        padding: 0 0 0 2px;
    }
    .pagination ul li.current a {
        color:#ffffff !important;
    }
    .del_tab{
        display: none;
        height: 428px;
        overflow: auto;
    }
    .del_tab_show{
        display: block !important;
    }
    .control-group-deal,.pagination{
        clear: both;
        margin-top: 10px;
        overflow: hidden;

    }
    .control-group-deal .label{
        float: left;
        margin-top: 25px;
    }
    .control-group-deal .control{
        float: left;
        margin-left: 10px;
        padding: 10px;
        border: 1px solid #000000;
        width: 90%;
        border-radius: 10px ;
    }

    .control-button{
        text-align: center;
        margin-top: 10px;
    }

    .deal_description {
        margin-top: 10px;
    }
    .deal_title{
        font-size: 16px;
        font-weight: 800;
    }

    .deal_type {
        padding-top: 10px;
        padding-left: 20px;
        text-align: left;
        font-size: 16px;
        font-weight: 800;
    }

</style>
<div id="div_deal">

    <fieldset>
        <legend class="legend">
            {{ restaurant_name }}
        </legend>
        <div class="deal_type">{{ deal_type }}</div>
        <div style="display: none" id="restaurant_image">{{ restaurant_image }}</div>
        <div class="fieldset_container">
            {% for item in 1..paging  %}
                {% set itemfor = (loop.index-1) %}
            <div class="del_tab {% if(loop.index == 1)  %} del_tab_show  {% endif %}" id="tab_{{ item }}">
            {% for value in data %}
                 {% if( (itemfor * 5 < loop.index) and (loop.index <= (itemfor+1) * 5) )  %}
                  <!-- deal item-->
                    <div class="control-group control-group-deal">
                        <label class="label">
                            <input type="radio" name="rad_deal" >
                        </label>
                        <div class="control deal-list">
                            <div class="deal_title">{{ value.title }}</div>
                            <div><span class="deal_start_date">{{ value.start_date }}</span> - <span class="deal_end_date">{{ value.end_date }}</span></div>
                            <div class="deal_description">{{ value.description }}</div>
                            <div class="deal_image" style="display: none">{{ value.image_url }}</div>
                            <div class="deal_channel" style="display: none">{{ value.channel }}</div>
                            <div class="deal_content_url" style="display: none">{{ value.content_url }}</div>
                            <div class="deal_id" style="display: none">{{ value.id  }}</div>
                        </div>
                    </div>
                    {% endif %}
                    <!-- end deal item-->
            {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <ul id="paging-dot">
                {% for item in 1..paging  %}
                <li class="{% if(loop.index == 1)  %} current  {% endif %}">
                    <a href="javascript:;" rel="tab_{{ loop.index }}">{{ loop.index }}</a>
                </li>
                {% endfor %}

            </ul>
        </div>
        <div class="control-group control-button">
            <input type="button" value="Cancel" id="cancel_deal">
            <input type="button" value="Submit" id="submit_deal">
        </div>
    </fieldset>
</div>
<script>
    $(document).ready(function(){
        //auto check fist radio when showing popup
        $("input[name=rad_deal]:first").attr('checked', 'checked');

        $("#paging-dot a").click(function(){
            var $id_show = $(this).attr('rel');

            $(".del_tab").removeClass('del_tab_show');
            $("#"+$id_show).addClass('del_tab_show');

            $("#paging-dot li").removeClass('current');
            $(this).parent('li').addClass('current');
        });

        $('#submit_deal').click(function() {
            $checkedDeal = $("input[name=rad_deal]:checked").closest('div');
            $dealList = $checkedDeal.find('.deal-list');

            //get info of selected deal list
            $title = $dealList.find('.deal_title').text();
            $contentUrl = $dealList.find('.deal_content_url').text();
            $image = $dealList.find('.deal_image').text();
            $channel = $dealList.find('.deal_channel').text();
            $description = $dealList.find('.deal_description').text();
            $dealId = $dealList.find('.deal_id').text();
            $startDate = $dealList.find('.deal_start_date').text();
            $endDate = $dealList.find('.deal_end_date').text();
            $restaurant_image = $('#restaurant_image').text();

            //if selected deal have not image, get restaurant image
            if ($image == ''){
                $image = $restaurant_image;
            }

            //pull data into form
            $('#admin_content_title').val($title);
            $('#admin_content_content_url').val($contentUrl);
            $('#admin_content_description').val($description);
            $('#admin_content_channel_name').val($channel);

            $('#admin_content_deal_id').val($dealId);
            $('#admin_content_publish_on').val($startDate);
            $('#admin_content_expire_on').val($endDate);

            $('#admin_content_tabledb_id').val('{{ tabledb_id }}');
            $('#admin_content_slug').val('{{ slug }}');

            {% if module != 'carousel' %}
                $('#admin_content_image_url').val($image);
            {% endif %}

            //close popup when update data
            $('#cboxClose').click();

        });

        $('#cancel_deal').click(function () {
            $('#cboxClose').click();
        });
    });
</script>

