{% extends 'inSingAdminBundle::layout.html.twig' %}

{% block title %}
	{% if type == 'add' %}
        Add Carousel Content
    {% else %}
        Edit Carousel Content
    {% endif %}
{% endblock %}

{% block body %}
    {% form_theme form 'inSingAdminBundle::form_fields.html.twig' %}

    <div class="back_content_list"><a href="{{ url('in_sing_admin_carousel') }}">Back to Carousel Content List</a></div>
    <fieldset>
		<legend class="legend">
			{% if type == 'add' %}
                Add Carousel Content
            {% else %}
                Edit Carousel Content
            {% endif %}
        </legend>

        <div class="fieldset_container">
            {% include "inSingAdminBundle::message.html.twig" %}

            {% if type == 'add' %}
                {% set textSubmit = 'Save' %}
                <form action="{{ url('in_sing_admin_carousel_add_new') }}" class="generic_form" method="POST" enctype="multipart/form-data">
            {% else %}
                {% set textSubmit = 'Save' %}
                <form action="{{ url('in_sing_admin_carousel_edit', {'id' : id}) }}" class="generic_form" method="POST" enctype="multipart/form-data">
            {% endif %}

                <div class="control-group">
                    <label class="label">
                        {{ form_widget(form.content_type) }}
                    </label>
                    <div class="control">
                        {{ form_widget(form.item_id) }}
                        <div class="error" id="error-content-id">{{ form_errors(form.item_id) }}</div>

                        <div class="mt5">
                            <input type="button" id="button-get-content" name="Get Content" value="Get Content" />
                            <input type="hidden" id="get-content-url" value="{{ url('in_sing_admin_get_content') }}" />
                            <span id="img-loading" class="loading" style="display: none;">
                                <img src="/bundles/insingadmin/images/load.gif" />
                            </span>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="label">
                        Title <em>*</em>
                    </label>
                    <div class="control">
                        {{ form_widget(form.title) }}
                        <div class="error">{{ form_errors(form.title) }}</div>
                        <p class="note">(Max 80 characters)</p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="label">
                        Tagline 1 <em>*</em>
                    </label>
                    <div class="control">
                        {% if type == 'edit' %}
                            {{ form_widget(form.tagline_1, {'value' : tagline1}) }}
                        {% else %}
                            {{ form_widget(form.tagline_1) }}
                        {% endif %}
                        <div class="error">{{ form_errors(form.tagline_1) }}</div>
                        <p class="note"></p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="label">
                        Tagline 2 <em>*</em>
                    </label>
                    <div class="control">
                        {% if type == 'edit' %}
                            {{ form_widget(form.tagline_2, {'value' : tagline2}) }}
                        {% else %}
                            {{ form_widget(form.tagline_2) }}
                        {% endif %}
                        <div class="error">{{ form_errors(form.tagline_2) }}</div>
                        <p class="note"></p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="label">
                        Tagline 3 <em>*</em>
                    </label>
                    <div class="control">
                        {% if type == 'edit' %}
                            {{ form_widget(form.tagline_3, {'value' : tagline3}) }}
                        {% else %}
                            {{ form_widget(form.tagline_3) }}
                        {% endif %}
                        <div class="error">{{ form_errors(form.tagline_3) }}</div>
                        <p class="note"></p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="label">
                        Content URL <em>*</em>
                    </label>
                    <div class="control">
                        {{ form_widget(form.content_url) }}
                        <div class="error">{{ form_errors(form.content_url) }}</div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="label">
                        Image <em>*</em>
                    </label>
                    <div class="control">
                        {{ form_widget(form.image_url) }}
                        <div >{{ form_widget(form.image_browse) }}</div>
                        <div class="error">{{ form_errors(form.image_url) }}</div>
                        <div>Image Size: 950 x 328 pixels</div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="label">
                        Slot <em>*</em>
                    </label>
                    <div class="control">
                        {{ form_widget(form.slot) }}
                        <div class="error">{{ form_errors(form.slot) }}</div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="label">
                        Channel <em>*</em>
                    </label>
                    <div class="control">
                        {{ form_widget(form.channel_name) }}
                        <div class="error">{{ form_errors(form.channel_name) }}</div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="label">
                        Publish On <em>*</em>
                    </label>
                    <div class="control">
                        {{ form_widget(form.publish_on) }}
                        {#<span class="calendar-trigger" id="published_date_time_trigger"></span>#}
                        <div class="error">{{ form_errors(form.publish_on) }}</div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="label">
                        Expire On
                    </label>
                    <div class="control">
                        {{ form_widget(form.expire_on) }}
                        <div class="error">{{ form_errors(form.expire_on) }}</div>

                        <div class="mt10">
                            <input type="button" value="Cancel" id="form_cancel" />
                            <input type="submit" value="{{ textSubmit }}" id="form_submit" />
                        </div>
                    </div>
                </div>

                {{ form_widget(form.deal_id) }}
                {{ form_widget(form.tabledb_id) }}
                {{ form_widget(form.slug) }}
                {{ form_widget(form.event_data) }}
                {{ form_widget(form.module) }}
                {{ form_widget(form.series_seo_url) }}
                {{ form_row(form._token) }}
            </form>
        </div>
    </fieldset>

    <div id="dialog" title="Confirmation Required" style="display: none;">
        This action will set your article to Expired status. Proceed?
    </div>

    <div id="dialog_upload_image_size" title="Confirmation Required" style="display: none;">
        This image is not in 950x328 pixels. Would you like to upload this image?
    </div>

    <div id="dialog_upload_invalid_file" title="Confirmation Required" style="display: none;">
        The supported image types are jpg, jpeg, png, gif, tiff, bmp. Please choose another one.
    </div>

{% endblock %}

{% block bottom_javascripts %}
    {%
        javascripts output = 'bundles/insingadmin/js/*.js'
            '@inSingAdminBundle/Resources/public/js/jquery-ui-timepicker-addon.js'
            '@inSingAdminBundle/Resources/public/js/content.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $now = new Date("{{"now"|date("d M Y")}}");
        $currentUrl = $(location).attr('href');
        var _URL = window.URL || window.webkitURL;

        $(document).ready(function() {
            $exire_on = $('#admin_content_expire_on').val();

            //check image width & height
            $('#admin_content_image_browse').change(function(){
                var file, img;
                var fileTypes = ['jpg', 'jpeg', 'png', 'gif', 'tiff', 'bmp'];  //acceptable file types

                if ((file = this.files[0])) {
                    var extension = file.name.split('.').pop().toLowerCase(),  //file extension from input file
                        isImage = fileTypes.indexOf(extension) > -1;  //is extension in acceptable types

                    if (!isImage){
                        $("#dialog_upload_invalid_file").dialog({
                            modal : true,
                            open: function() {                         // open event handler
                                $(this)                                // the element being dialogged
                                        .parent()                          // get the dialog widget element
                                        .find(".ui-dialog-titlebar-close") // find the close button for this dialog
                                        .hide();                           // hide it
                            },
                            buttons : {
                                "OK" : function() {
                                    //clear chosen file
                                    $('#admin_content_image_browse').val('');
                                    $(this).dialog("close");
                                }
                            }
                        });
                    }

                    img = new Image();
                    img.onload = function() {
                        if (this.width != 950 &&  this.height != 328){
                            $("#dialog_upload_image_size").dialog({
                                modal : true,
                                open: function() {                         // open event handler
                                    $(this)                                // the element being dialogged
                                            .parent()                          // get the dialog widget element
                                            .find(".ui-dialog-titlebar-close") // find the close button for this dialog
                                            .hide();                           // hide it
                                },
                                buttons : {
                                    "Yes" : function() {
                                        $(this).dialog("close");
                                    },
                                    "No" : function() {
                                        //clear chosen image
                                        $('#admin_content_image_browse').val('');
                                        $(this).dialog("close");
                                    }
                                }
                            });
                        }
                    };
                    img.src = _URL.createObjectURL(file);
                }
            });

            $("#admin_content_publish_on").datepicker({
                dateFormat: "dd M yy",
                showButtonPanel: true,
                showOn: "button",
                buttonImage: "{{ asset('bundles/insingadmin/images/calendar.png') }}",
                buttonText: "Datepicker",
                minDate: $now,
                buttonImageOnly: true,
                pickTime : false
            });

            $("#admin_content_expire_on").datepicker({
                dateFormat: "dd M yy",
                showButtonPanel: true,
                showOn: "button",
                buttonImage: "{{ asset('bundles/insingadmin/images/calendar.png') }}",
                buttonText: "Datepicker",
                buttonImageOnly: true,
                pickTime : false,
                onClose: function(date) {
                    $expire_date = new Date(date);

                    if ($expire_date < $now ) {

                        $("#dialog").dialog({
                            modal : true,
                            open: function() {                         // open event handler
                                $(this)                                // the element being dialogged
                                        .parent()                          // get the dialog widget element
                                        .find(".ui-dialog-titlebar-close") // find the close button for this dialog
                                        .hide();                           // hide it
                            },
                            buttons : {
                                "Continue" : function() {
                                    $(this).dialog("close");
                                },
                                "Cancel" : function() {
                                    $('#admin_content_expire_on').val($exire_on);
                                    $(this).dialog("close");
                                }
                            }
                        });
                    }
                }
            });

            //load again page when click cancel button
            $('#form_cancel').click(function(e){
                location.href = $currentUrl;
            });

        });
    </script>
{% endblock %}