{% extends "::base.html.twig" %}

{% block title %}inSingFrontendBundle:MovieShowtimes:index{% endblock %}

{% block body %}
<h1>Welcome to the MovieShowtimes:restaurant near by page</h1>
{% endblock %}
