{% if wo_breadcrumbs()|length %}
    <section class="breadcrumbs container">
        {% set index = 1 %}
        {% for b in breadcrumbs %}
            {% if (index < breadcrumbs|length) %}
                <span typeof="v:Breadcrumb">
                    <a href="{% if b.url is not empty %}{{ b.url }}{% else %}#{% endif %}" title="{{ b.text }}" rel="v:url" property="v:title">
                        {{ b.text }}
                    </a>
                </span>
            {% else %}
                <span>
                    {{ b.text }}
                </span>
            {% endif %}
            
            {% set index = index + 1 %}
        {% endfor %}
    </section>
{% endif %}