{% extends "inSingFrontendBundle::layout.html.twig" %}
{% block title %}{{ getParameter('insing_frontend_review_policy_title') }}{% endblock %}
{% block metaDescription %}{{ getParameter('insing_frontend_review_policy_meta_description') }}
{% endblock %}
{% block body %}
<div id="page-container" class="page-policy">
        <div class="static">
            <h3 class="title-s-m first">About InSing</h3>
            <h1 class="title-l">Listings and Review Policy</h1>
            <div class="info-container">
                <p>All listings published and content submitted to inSing.com and Hungrygowhere.com (collectively known as the "Sites") are subject to the following listing and review policies and disclaimers.</p>
            </div>
            <div class="info-container">
                <h3 class="title-s-m">Listings</h3>
                <p>It is important to us that we are able to maintain a comprehensive and accurate directory listing database in order to meet the needs of our users.</p>
                <p>We do this by ensuring that the information published in our directory listings have been independantly collected and compiled by our data producers and community of users from publicly available sources. We try to ensure, using commercially reasonable efforts, that all information published in our sites are factually correct.</p>
                <p>If you are a business who has not been listed in our directory listing and would like us to include your business in our listings, or if you are a business that is currently listed and would like us to correct or update any inaccurate or outdated information, please contact us at <a href="mailto:customercare@insing.com">customercare@insing.com</a>.</p>
            </div>
            <div class="info-container">
                <h3 class="title-s-m">Reviews</h3>
                <p>To facilitate the provision of objective and accurate reviews by our community of users, we generally allow our users to freely share about their experiences as long as it meets our review policy and guidelines below.</p>
                <p>If you are a business who has been reviewed and are of the view that any of the reviews submitted by our users are in any way inaccurate, unfair, objectionable or do not meet our review policy, you may respond as the business owner by using the management response function to respond publicly to the review or if this option is not available for any reason, please let us know and we will assist you to response to the user to verify his/her review. Please note that we will generally not entertain requests to remove negative reviews unless otherwise warranted by the circumstances.</p>
                <p>All review content submitted to the Sites is subject to the following review guidelines:</p>
                <ul>
                    <li>No posting of content, images or otherwise, that do not belong to you or that you do not have written authorization to use</li>
                    <li>No posting of content relating to illegal activity, including but not limited to drug activity, pornography, underage drinking or smoking</li>
                    <li>No attacks on race or religion</li>
                    <li>No multiple identical postings</li>
                    <li>No spamming and harassment of members</li>
                    <li>No disparaging remarks about other members' comments</li>
                    <li>No seditious comments</li>
                    <li>No use of any obscene or inappropriate language</li>
                    <li>No advertising in any form or kind is allowed, especially from business owners and employees.</li>
                    <li>Do be accurate in your description of your experience when writing your review. We do value reviews that are objective, provide details and give every reader in our community a good understanding of your experience with the business reviewed.</li>
                    <li>No abuse of business owners and staff will be allowed. Reviews are strictly prohibited from identifying business owners or staff by name, and are not allowed to harass, abuse, make false statements, defame, impersonate someone else or conduct anything illegal or otherwise objectionable content. In the event of any doubts on whether there are any violations on this front, we reserves the right to make the final decision on this</li>
                    <li>You must submit original reviews that represent your own experiences. All reviews found to be based on second-hand information or hearsay (unverified information, rumours, reported opinions of others) will be removed.</li>
                    <li>Any reviews that contain accusations of illegal activity, malpractice, health code violations (e.g. food poisoning) and false advertising will be removed from the Sites.</li>
                    <li>Please follow all standard etiquette when writing your review. Do not write your review in CAPS. Excessive use of typographic symbols and slangs are also strongly discouraged.</li>
                    <li>Any review deemed to be off-topic may be removed. For example, this would mean a food channel review that does not focus anything on the restaurants, their food, ambiance, service and value the restaurant provides.</li>
                    <li>We reserve the final right to remove any reviews or management response immediately.</li>
                </ul>
                <p>The reviews posted on the Sites are individual and highly subjective opinions. The opinions expressed in these reviews are those of our members, and not that of Singtel Digital Media Pte Ltd. We do not endorse any of the opinions expressed by reviewers or in management responses.</p>
                <p>Please note that our members also have the ability to flag suspected violations. All reviews and any other contributions that are in violation (or suspected violation) of this review policy will be removed. We also reserve the right to ban any user accounts that are used to commit the violations.</p>
            </div>
            <div class="info-container">
                <h3 class="title-s-m">Photo Submission Guidelines in Reviews</h3>
                <p>InSing.com claims no ownership, affiliation with, or endorsement of any photos that are posted on our site. The truthfulness of all photos and captions is assumed by the user and their validity is not the responsibility of inSing.com. Please note that by uploading photos, you are granting inSing.com the non-exclusive rights to use, copy, re-purpose and display those photos at our discretion.</p>
                <p><strong>Family-friendly.</strong> No photos, images or material that is vulgar, pornographic, obscene, profane, illegal, offensive, insulting, objectionable or other non-family-friendly content.</p>
                <p><strong>Original.</strong> No images from other sources or material published elsewhere. No images that infringe on any copyright, trademark or other legal property right.</p>
                <p><strong>Relevant.</strong> Please post photos, images or materials that is relevant to the business you are reviewing.</p>
                <p><strong>Non-commercial.</strong> No logos, titles, branding, promotional material or any other content intended for commercial purposes.</p>
                <p><strong>File properties.</strong> No single photo file may exceed 2MB in size. All photos submitted to the site must be in .gif, .jpg, png or tiff format. Any file that does not meet these requirements will be rejected. All photos uploaded will be displayed in 4:3 proportions.</p>
            </div>
        </div>
    </div>
{% endblock %}
